@page "/game/{GameId}"
@using Microsoft.AspNetCore.SignalR.Client
@using Newtonsoft.Json
@using UltimateTicTacToe.Client.Components
@using UltimateTicTacToe.Components.Models
@using UltimateTicTacToe.Shared.Models
@inject NavigationManager Navigation
@rendermode InteractiveWebAssembly

<PageTitle>Ultimate Tic Tac Toe</PageTitle>

<div style="display: flex; flex-direction: column; justify-content: center; align-items: center; width: 100%; height: 100%; gap: 16px">
    @if (_gameState != null) {
        <h1>ULTIMATE TIC-TAC-TOE</h1>
        <div class="board">
            @for (int j = 0; j < 3; j++) {
                @for (int i = 0; i < 3; i++) {
                    <SmallBoard Board="@_gameState.Board[i, j].Board" I="@i" J="@j" TileClicked="@Click"
                                Playable="_gameState.AllowedBoard == (i, j) || _gameState.AllowedBoard == (-1, -1)"
                                WonBy="_gameState.Board[i, j].WonBy"/>
                }
            }
        </div>
        @if (_initData != null) {
            <div style="display: flex; flex-direction: column; width: 100%; height: 100%; gap: 4px; align-items: center">
                <div style="display: flex; flex-direction: row; justify-content: center; align-items: center; width: 100%; height: 100%">
                    <div style="display: flex; flex-direction: row; align-items: center; gap: 4px">
                        <div>You are</div>
                        <div class="tile tile-@(_initData?.MyPlayer)" style="width: 32px; height: 32px;"><div></div></div>
                    </div>
                </div>
                @if (_initData?.MyPlayer == _gameState.PlayerTurn) {
                    <div>It is your turn.</div>
                }
            </div>
        }
    }
</div>

@code {

    public bool IsConnected =>
        hubConnection?.State == HubConnectionState.Connected;

    [Parameter] public string GameId { get; set; } = null!;

    private int currentCount = 0;
    private HubConnection? hubConnection;
    private InitData? _initData;
    private GameState? _gameState;

    protected override async Task OnInitializedAsync() {
        if (!OperatingSystem.IsBrowser()) return;

        hubConnection = new HubConnectionBuilder()
            .WithUrl(Navigation.ToAbsoluteUri("/gamehub"))
            .Build();

        hubConnection.On<string>("InitData", (initData) => {
            _initData = JsonConvert.DeserializeObject<InitData>(initData);
            InvokeAsync(StateHasChanged);
        });

        hubConnection.On<string>("UpdateState", (gameState) => {
            _gameState = JsonConvert.DeserializeObject<GameState>(gameState);
            Console.WriteLine(gameState);
            Console.WriteLine("game state updated");
            InvokeAsync(StateHasChanged);
        });

        await hubConnection.StartAsync();
        await hubConnection.SendAsync("JoinGame", GameId);
        Console.WriteLine($"joining with {hubConnection.ConnectionId}");
    }

    private async Task IncrementCount() {
        if (hubConnection != null)
            await hubConnection.SendAsync("SendMessage", 1);
    }

    public async ValueTask DisposeAsync() {
        if (hubConnection != null)
            await hubConnection.DisposeAsync();
    }

    private async Task Click(MoveInput input) {
        if (hubConnection == null) return;

        Console.WriteLine($"making move: {input.I} {input.J} {input.X} {input.Y}");
        await hubConnection.SendAsync("MakeMove", GameId, input);
    }
}