@page "/game/{GameId}"
@using Microsoft.AspNetCore.SignalR.Client
@using Newtonsoft.Json
@using UltimateTicTacToe.Client.Components
@using UltimateTicTacToe.Components.Models
@using UltimateTicTacToe.Shared.Models
@inject NavigationManager Navigation
@rendermode InteractiveWebAssembly

<PageTitle>Ultimate Tic Tac Toe</PageTitle>
@if (_gameState != null) {
    <div class="board">
        @for (int j = 0; j < 3; j++) {
            @for (int i = 0; i < 3; i++) {
                <SmallBoard Board="@_gameState.Board[i, j].Board" I="@i" J="@j" TileClicked="@Click"
                            Selectable="_gameState.AllowedBoard == (i, j) || _gameState.AllowedBoard == (-1, -1)"/>
            }
        }
    </div>
}

@code {

    public bool IsConnected =>
        hubConnection?.State == HubConnectionState.Connected;

    [Parameter] public string GameId { get; set; } = null!;

    private int currentCount = 0;
    private HubConnection? hubConnection;
    private InitData? _initData;
    private GameState? _gameState;

    protected override async Task OnInitializedAsync() {
        if (!OperatingSystem.IsBrowser()) return;

        hubConnection = new HubConnectionBuilder()
            .WithUrl(Navigation.ToAbsoluteUri("/gamehub"))
            .Build();

        hubConnection.On<string>("InitData", (initData) => {
            _initData = JsonConvert.DeserializeObject<InitData>(initData);
            InvokeAsync(StateHasChanged);
        });

        hubConnection.On<string>("UpdateState", (gameState) => {
            _gameState = JsonConvert.DeserializeObject<GameState>(gameState);
            Console.WriteLine(gameState);
            Console.WriteLine("game state updated");
            InvokeAsync(StateHasChanged);
        });

        await hubConnection.StartAsync();
        await hubConnection.SendAsync("JoinGame", GameId);
        Console.WriteLine($"joining with {hubConnection.ConnectionId}");
    }

    private async Task IncrementCount() {
        if (hubConnection != null)
            await hubConnection.SendAsync("SendMessage", 1);
    }

    public async ValueTask DisposeAsync() {
        if (hubConnection != null)
            await hubConnection.DisposeAsync();
    }

    private async Task Click(MoveInput input) {
        if (hubConnection == null) return;

        Console.WriteLine($"making move: {input.I} {input.J} {input.X} {input.Y}");
        await hubConnection.SendAsync("MakeMove", GameId, input);
    }
}