<div class="tile tile-@TileType @(Clickable ? "clickable" : "")" @onclick="Click">
    <div></div>
</div>

@code {
    [Parameter] public required int TileType { get; set; }
    [Parameter] public required int X { get; set; }
    [Parameter] public required int Y { get; set; }
    [Parameter] public required string GameId { get; set; }
    
    [Parameter] public EventCallback<(int x, int y)> TileClicked { get; set; }

    public bool Clickable => TileType == -1;

    private async Task Click() {
        await TileClicked.InvokeAsync((X, Y));
    }
}