.board {
    display: grid;
    grid-template-columns: repeat(3, max-content);
    gap: 1px;
    padding: 8px;
    border-radius: 4px;
}

.selectable {
    background-color: #ffdbc2;
}

.winner {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.5;
    border-radius: 4px;
    pointer-events: none;
}

.winner-1 {
    background-color: #e05b5b;
    pointer-events: all;
}

.winner-2 {
    background-color: #5b81e0;
    pointer-events: all;
}

.relative {
    position: relative;
}